#Username {
    margin-top: 1;
}
Input {
    dock: top;
}
#body {
    grid-size: 1 1;
    grid-gutter: 2 4;
    grid-columns: 1fr;
    margin: 0 1;
}
DataTable {
    height: 100%;
    border: wide $secondary;
    margin: 1;
}

Screen {
    align: center middle;
}